#Cards {
  display: flex;
  flex-direction: column;
  height: fit-content;
  gap: 1.5625rem;
  width: 100%;
}

#CardFront {
  background-image: url("../images/bg-card-front.png");

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 1.25rem;
  border-radius: 10px;
  color: #fff;

  display: flex;
  flex-direction: column;

  padding: 0.9375rem;

  width: 31.25rem;
  height: 18.75rem;
}
#CardFront img {
  width: 4rem;
}

.spans {
  display: flex;

  width: 100%;
  letter-spacing: 0.3125rem;

  gap: 0.625rem;

  padding-top: 8.4375rem;
  padding-bottom: 2.1875rem;
}

.spans span {
  font-size: 2rem;
}
#TextArea {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
